doctype html
html.wf-loading
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title A GIF Odyssey

    link(rel='stylesheet', type='text/css', href='styles/styles.css')

  body

    article
      section
        h1 A GIF Odyssey
        .mid by
        .line
          .me
          h3 @GlenMaddern

      section
        h1 "Odyssey"

      section
        h3
          span.buildin "Series
          span.buildin -of
          span.buildin -dumb
          span.buildin -decisions
          span.buildin -that
          span.buildin -surprisingly
          span.buildin -result
          span.buildin -in
          span.buildin -working
          span.buildin -software"

      section
        h1.mid (Work in progress)

      section(data-bespoke-state='gif-2012')
        h2 December
          strong  2012

      section
        .line
          .schwarz
          h3 @BenSchwarz

      section
        h1 vastimg.herokuapp.com
        .line
          .rtomayko
          h3 @RTomayko

      section(data-bespoke-state='gif-shocked')
        h1 ETOOMUCHPORN

      section(data-bespoke-state='gif-skull')
      section(data-bespoke-state='gif-skull-2')

      section(data-bespoke-state='fact')
        //h1 FACT #1
        //hr
        h2 Full-screen GIFs
        .mid are
        h1 awesome

      section
        h1 Let's keep it SFW

      section
        .mid What has
        h2 lots of GIFs
        .mid and is
        h1 totally safe for work
        .mid ?

      section(data-bespoke-state='not-sure-if-right')
        h1 Tumblr

      section(data-bespoke-state='okthen')
        h1
          span.feat Most
          |  of Tumblr

      section(data-bespoke-state='thumbsup')
        .mid Tumblr:
        h2.ta-left • Arranged by theme
        h2.ta-left • Full of GIFs
        hr

      section(data-bespoke-state='fact')
        h2 Tumblr
        .mid is
        h1 awesome!

      section
        h1 GifCity
        .line
          .schwarz
          h4 @BenSchwarz
        .line
          h4 @GlenMaddern
          .me
        .line
          .bieber
          h4 @ToolmanTim
        .line
          h4 @NullObject
          .josh

      section
        h3
          strong benschwarz.github.io/gifcity/?t=tumblrs,go,here

      section
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=dvdp')

      section
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=simpsonsgifs')

      section
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=skt-na-veia-sempre')

      section(data-bespoke-state='fact')
        h2 GifCity
        .mid is
        h1 awesome!

      section
        h1 But we can do
          span.feat  more

      section(data-bespoke-state='amazed')

      section
        .mid What about
        h1 synching
        .mid to
        h1 music
        .mid ?

      section.nobuild
        h1.fadeout GifCity
        .line.fadeout
          .schwarz
          h4 @BenSchwarz
        .line
          h4 @GlenMaddern
          .me
        .line.fadeout
          .bieber
          h4 @ToolmanTim
        .line.fadeout
          h4 @NullObject
          .josh

      section(data-bespoke-state='light')
        img(src="images/djgif_logo.gif")
        h1 DJGif
        h4 github.com/geelen/djgif
        h4 djgif.com
          span.feat  (soon)

      section.nobuild
        .mid How to:
        h3.ta-left ● Change speed of GIFs
        h3.ta-left.fadeout ● Find beats from music
        hr

      section
        pre
          code.language-markup.
            &lt;img src="probably_cats.gif"&gt;
        pre
          code.language-javascript.
            var img = new Image;
            img.src = "definitely_cats.gif";
        h3 Now what?

      section
        h1.red ✖

      section
        h1 Why not video?
        pre
          code.language-javascript.
            var video = document.createElement('video');
            video.autoPlay = true;
            video.loop = true;
            video.playbackRate = 1.5;
            video.src = 'converted.gif.mp4';

      section(data-bespoke-state='yeahnah')

      section
        h4 Break GIF into frames?
        pre
          code.language-markup.
            &lt;div data-frame="0"&gt;
              &lt;img src="frame0.gif"&gt;
              &lt;img src="frame1.gif"&gt;
              &lt;img src="frame2.gif"&gt;
            &lt;/div&gt;

      section
        h4 Break GIF into frames?
        pre
          code.language-css.
            [data-frame] img {
              opacity: 0;
            }

            [data-frame="0"] img:nth-child(1),
            [data-frame="1"] img:nth-child(2),
            [data-frame="2"] img:nth-child(3) {
              opacity: 1;
            }

      section(data-bespoke-state='yep')

      section
        iframe(data-bespoke-delay-src='http://www.lcdf.org/gifsicle/')

      section
        h1 Break GIF into frames:
        pre
          code.language-bash.
            brew install gifsicle
            gifsicle -e cats.gif
            # outputs cats.gif.001 cats.gif.002 etc

      section(data-bespoke-state='yeahnah')

      section
        .mid How can I
        h1 break apart a
          span.feat  GIF
        .mid in the
        h1 browser?
        hr

      section
        img(src='http://dl.dropbox.com/u/80664946/emscripten_logo.jpg')
        h4 github.com/kripken/emscripten

      section(data-bespoke-state='yeahnah')

      section
        h1 Time for
          .feat Javascript Binary Hax!

      section
        h4
          a(target="_blank" href='http://www.matthewflickinger.com/lab/whatsinagif/bits_and_bytes.asp') http://www.matthewflickinger.com/lab/ whatsinagif/bits_and_bytes.asp

      section
        pre
          code.language-javascript.
            var binaryGif = new XMLHttpRequest();
            binaryGif.open('GET', mirroredUrl, true);
            binaryGif.responseType = 'arraybuffer';
            binaryGif.onload = function () {
              this.reponse; // BINARY GIF MADNESS
            }
            binaryGif.send();

      section
        h4.ta-left
          a(target="_blank" href='https://github.com/geelen/djgif/blob/master/src/js/services/gif_exploder.js') https://github.com/geelen/djgif/ blob/master/src/ js/services/gif_exploder.js
      //section(data-bespoke-hash='named-route')

      section
        h1 Same Origin Policy

    script(src='scripts/scripts.js')
    script.
      (function(d) {
        var config = {
          kitId: 'axw0iwx',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
